body{
	background-color: rgb(33, 41, 64);
	font-family:calibri, san-serif ;
	color: white;
}

.title{
	text-align: center;
	padding: 15px;
	font-size: 50px;
}

.subtitle{
	text-align: center;
	padding: 10px;
	font-size: 35px;
}

.description{
	text-align: center;
	padding: 10px;
	font-size: 18px;
}

.choose{
	text-align: left;
	padding: 15px;
	padding-left: 30px;
	font-size: 30px;
}

.route{
	text-align: left;
	padding: 10px;
	padding-left: 30px;
	font-size: 30px;
}

.bold{
	font-weight: bold;
}

button{
	width: 80px;
	height: 60px;
	font-size:30px !important;
}

.form-group{
	padding-left: 30px;
	padding-right: 30px;
}

.form-control{
	height: 50px;
	font-size: 25px;
}