{% extends "layout.html" %}

{% block body %}

    {% if same %}
        <div class="direction">Congratulations! You are already at <span class="bold">{{ start }}</span>!<div/>
    {% else %}
        <div class="direction">Shuttle Bus from <span class="italic">{{ start }}</span> to <span class="italic">{{ end }}</span> will take {{mins}} minutes {{secs}} seconds<div/>
        
        <div class="route">
            <ol>
                {% for segment in bus_path %}
                    <li>Take <span class = "bold">{{segment[1][0]}}{% for bus in segment[1][1:] %}/{{bus}}{% endfor %}</span> at <span class = "italic">{{ segment[2][0] }} </span> and alight at <span class="italic">{{ segment[0] }}</span> ({{ segment[3] }} stop{% if segment[3] > 1 %}s{% endif %})
                        <ul>
                            {% for stop in segment[2][1:] %}
                                <li><span class = "italic">{{ stop }}</span></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
        
    <form action="{{ url_for('home') }}">
        <div class="form-group">
            <button class="btn btn-primary">Back</button>
        </div>
    </form>

{% endblock %}