{% extends "layout.html" %}

{% block body %}

    {% if same %}
        <div class="direction">Congratulations! You are already at <span class="italic">{{ coord[0] }}</span>!</div>
        <div id='map_home' class="rounded mx-auto d-block"></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaHVhaXplIiwiYSI6ImNrYXhsdjh0bzA1YnEycnQ5Z3VoMWM0YWQifQ.THTNfZzuDdUesqxUOBpNLw';

            // Check if browser supports Mapbox
            if (!mapboxgl.supported()) {
                alert('Your browser does not support Mapbox GL');
            } else {
                var coord_js = {{ coord | tojson }};
                var map = new mapboxgl.Map({
                    container: 'map_home', // container id
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [coord_js[2], coord_js[1]], // starting position
                    zoom: 17 // starting zoom
                });

                var marker = new mapboxgl.Marker({ color: '#40ab22' })
                    .setLngLat([coord_js[2], coord_js[1]])
                    .setPopup(new mapboxgl.Popup({ closeButton: false }).setText(coord_js[0]))
                    .addTo(map);

                // Add geolocate control to the map.
                map.addControl(
                    new mapboxgl.GeolocateControl({
                        positionOptions: {
                            enableHighAccuracy: true
                        },
                        trackUserLocation: true
                    })
                );

                // Fullscreen option
                map.addControl(new mapboxgl.FullscreenControl());

            } // do not remove this close bracket
        </script>


    {% else %}

        <div class="direction">Travelling from <span class="italic">{{ nodeDict[segments[0][1][0]]['name'] }}</span> to <span
            class="italic">{{ nodeDict[segments[-1][1][-1]]['name'] }}</span> will take {{mins}} minutes.</div>

        {% for segment in segments %}
            
            {% if segment[0][0] == 'walk' %}

                <button type="button" class="collapsible">
                    Walk from <span class="italic">{{ nodeDict[segment[1][0]]['name'] }} </span>
                        to <span class="italic">{{ nodeDict[segment[1][-1]]['name'] }}</span> 
                        ({{ segment[0][2] }} km, {{ segment[0][1] }} minutes)
                </button>
                
                <div class="collapsible_content">
                    {% for node in segment[1][1:] %}
                        <div class="collapsible_item">{{ nodeDict[node]['name'] }}</div>
                    {% endfor %}
                </div>

            {% else %}

                <button type="button" class="collapsible">
                    Take <span class="bold">{{segment[2]}}</span> at <span
                        class="italic">{{ nodeDict[segment[1][0]]['name'] }} </span>
                        and alight at <span class="italic">{{ nodeDict[segment[1][-1]]['name'] }}</span> ({{ segment[0][2] }} stops,
                        {{ segment[0][1] }} minutes)
                </button>
                
                <div class="collapsible_content">
                    {% for stop in segment[1][1:] %}
                        <div class="collapsible_item">{{ nodeDict[stop]['name'] }}</div>
                    {% endfor %}
                </div>

            {% endif %}

        {% endfor %}


        <script type="text/javascript">
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active1");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            } 
        </script>

        <div class="hint">Red marker - starting point, green marker - destination, blue marker - bus stops</div>

        <div id="map_go"></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaHVhaXplIiwiYSI6ImNrYXhsdjh0bzA1YnEycnQ5Z3VoMWM0YWQifQ.THTNfZzuDdUesqxUOBpNLw';

            // Check if browser supports Mapbox
            if (!mapboxgl.supported()) {
                alert('Your browser does not support Mapbox GL');
            } else {
                var node_coord_js = {{ node_coord | tojson }};

                var map = new mapboxgl.Map({
                    container: 'map_go',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [node_coord_js[0][2], node_coord_js[0][1]],
                    zoom: 16
                });

                // Start point marker is red
                var marker = new mapboxgl.Marker({ color: '#f20505' })
                    .setLngLat([node_coord_js[0][2], node_coord_js[0][1]])
                    .setPopup(new mapboxgl.Popup({ closeButton: false })
                        .setText(node_coord_js[0][0]))
                    .addTo(map);

                for (i = 1; i < node_coord_js.length - 1; i++) {
                    var marker = new mapboxgl.Marker()
                        .setLngLat([node_coord_js[i][2], node_coord_js[i][1]])
                        .setPopup(new mapboxgl.Popup({ closeButton: false })
                            .setText(node_coord_js[i][0]))
                        .addTo(map);
                }

                // Destination marker is green
                var marker = new mapboxgl.Marker({ color: '#40ab22' })
                    .setLngLat([node_coord_js[node_coord_js.length - 1][2], node_coord_js[node_coord_js.length - 1][1]])
                    .setPopup(new mapboxgl.Popup({ closeButton: false })
                        .setText(node_coord_js[node_coord_js.length - 1][0]))
                    .addTo(map);

                var path_coord_js = {{ path_coord | tojson }};

                map.on('load', function () {
                    map.addSource('route', {
                        'type': 'geojson',
                        'data': {
                            'type': 'Feature',
                            'properties': {},
                            'geometry': {
                                'type': 'LineString',
                                'coordinates': path_coord_js
                            }
                        }
                    });

                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#888',
                        'line-width': 8
                    }
                    });
                });

                // Add geolocate control to the map.
                map.addControl(
                    new mapboxgl.GeolocateControl({
                        positionOptions: {
                            enableHighAccuracy: true
                        },
                        trackUserLocation: true
                    })
                );

                // Fullscreen option
                map.addControl(new mapboxgl.FullscreenControl());
                    
            }
        </script>

    {% endif %}

    <form action="{{ url_for('home') }}">
        <div class="form-group">
            <button class="btn btn-warning">Back</button>
        </div>
    </form>

{% endblock %}