<!DOCTYPE html>
<html>
    <head>
        <title>NUS WhereTo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
        
    </head>
  
    <body>
        <div class="title">Welcome to <span class="orange">NUS WhereTo!</span><div/>
        {% block body %}
        {% endblock %}
        <div class="description"><span class="orange">NUS WhereTo</span> is a navigation app for the NUS Kent Ridge campus. It is currently still under development.</div>

    </body>
</html>
