{% extends "layout.html" %}

{% block body %}
    <div class="btn-group">
        <a href = "walk" class="btn btn-primary">&#128653;</a>
        <a href = "{{ url_for('home') }}" class="btn btn-primary">&#128653; &#10010; &#128694;</a>
        <button type="button" class="btn btn-primary, current_type">&#128694;</button>

    </div> 

    <form action="{{ url_for('go_walk') }}" method="post">
        <div class="choose">Choose starting point:</div>
        <select class="selectpicker show-tick" name="start" data-live-search="true" data-header="Starting Point">
            {% for node in nodeDict %}
                {% if nodeDict[node]['type'] == 'Building' %}
                    <option value="{{ node }}">{{  nodeDict[node]['name']  }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div class="choose">Choose destination:</div>
        <select class="selectpicker show-tick" name="end" data-live-search="true" data-header="Destination">
            {% for node in nodeDict %}
                {% if nodeDict[node]['type'] == 'Building' %}
                    <option value="{{ node }}">{{  nodeDict[node]['name']  }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div class="form-group">
            <button class="btn btn-warning">Go!</button>
        </div>
    </form>

    <div class="hint">Orange markers - bus stops, blue markers - buildings</div>
    <div class="hint">Click on the location icon in the top right corner to find yourself on the map!</div>

    <div id='map_home' class="rounded mx-auto d-block"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaHVhaXplIiwiYSI6ImNrYXhsdjh0bzA1YnEycnQ5Z3VoMWM0YWQifQ.THTNfZzuDdUesqxUOBpNLw';
        // Check if browser supports Mapbox
        if (!mapboxgl.supported()) {
            alert('Your browser does not support Mapbox GL');
        }
        else {
            var map = new mapboxgl.Map({
                container: 'map_home', // container id
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [103.7771, 1.299869], // starting position
                zoom: 14.5 // starting zoom
            });

            var buildingArr_js = {{ buildingArr| tojson }};
            var stopArr_js = {{ stopArr| tojson }};

            for (building of buildingArr_js) {
                var marker = new mapboxgl.Marker()
                    .setLngLat([building[3], building[2]])
                    .setPopup(new mapboxgl.Popup({ closeButton: false }).setText(building[1]))
                    .addTo(map);
            }

            for (stop of stopArr_js) {
                var marker = new mapboxgl.Marker({ color: '#EF7C00' })
                    .setLngLat([stop[3], stop[2]])
                    .setPopup(new mapboxgl.Popup({ closeButton: false }).setText(stop[1]))
                    .addTo(map);
            }

            // Add geolocate control to the map.
            map.addControl(
                new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: true
                })
            );

            // Fullscreen option
            map.addControl(new mapboxgl.FullscreenControl());

        } // do not remove this close bracket
    </script>

{% endblock %}